@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */

html {
    scroll-behavior: smooth;
}

body {
    @apply bg-white text-text;
}

a {
    @apply transition duration-300 ease-in-out text-primary;
}

a:hover {
    @apply text-secondary;
}

/* Modal styles */
.modal {
    @apply p-6 bg-white rounded-lg shadow-lg bg-opacity-90 backdrop-blur-lg;
}

.glow-icon {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.glow-icon::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: rgba(22, 75, 161, 0.4); /* Lebih kecil opacity untuk efek glow ringan */
    width: 40px; /* Ukuran lingkaran lebih kecil */
    height: 40px;
    filter: blur(6px); /* Blur yang lebih kecil */
    animation: pulse 3.5s infinite ease-in-out; /* Smooth dengan durasi yang sedikit lebih cepat */
    z-index: -1;
}

@keyframes pulse {
    0% {
        transform: scale(0.7); /* Skala awal lebih kecil */
        opacity: 0.3;
    }
    50% {
        transform: scale(1); /* Skala maksimal lebih halus */
        opacity: 1;
    }
    100% {
        transform: scale(0.7); /* Kembali ke skala kecil */
        opacity: 0.3;
    }
}


